<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                            http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!-- 아래 내용을 추가해야 ShareServlet 사용 가능 -->
    <servlet>
        <servlet-name>share-servlet</servlet-name>
        <servlet-class>jsp.servlet.ShareServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>share-servlet</servlet-name>
        <url-pattern>/jsp.servlet.ShareServlet</url-pattern>
    </servlet-mapping>
    <!-- -->

    <!-- 아래 내용을 추가해야 ELFuction 사용 가능 -->
    <jsp-config>
        <taglib>
            <taglib-uri>
                /WEB-INF/tld/el-functions.tld
            </taglib-uri>
            <taglib-location>
                /WEB-INF/tld/el-functions.tld
            </taglib-location>
        </taglib>
    </jsp-config>
    <!-- -->

    <!-- servlet -->

    <!-- CallBackServlet -->
    <servlet>
    <servlet-name>callback-servlet</servlet-name>
    <servlet-class>servlet.CallBackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>callback-servlet</servlet-name>
        <url-pattern>/servlet.CallBackServlet</url-pattern>
    </servlet-mapping>

    <!-- NetInfoServlet -->
    <servlet>
        <servlet-name>netinfo-servlet</servlet-name>
        <servlet-class>servlet.NetInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>netinfo-servlet</servlet-name>
        <url-pattern>/servlet.NetInfoServlet</url-pattern>
    </servlet-mapping>

    <!-- URLInfoServlet -->
    <servlet>
        <servlet-name>urlinfo-servlet</servlet-name>
        <servlet-class>servlet.URLInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>urlinfo-servlet</servlet-name>
        <url-pattern>/servlet.URLInfoServlet</url-pattern>
    </servlet-mapping>

    <!-- HeaderInfo -->
    <servlet>
        <servlet-name>headerinfo-servlet</servlet-name>
        <servlet-class>servlet.HeaderInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>headerinfo-servlet</servlet-name>
        <url-pattern>/servlet.HeaderInfoServlet</url-pattern>
    </servlet-mapping>

    <!-- AdditionalInfoServlet -->
    <servlet>
        <servlet-name>additionalinfo-servlet</servlet-name>
        <servlet-class>servlet.AdditionalInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>additionalinfo-servlet</servlet-name>
        <url-pattern>/servlet.AdditionalInfoServlet</url-pattern>
    </servlet-mapping>

    <!--InitParamTestServlet -->
    <servlet>
        <servlet-name>initparamtest-servlet</servlet-name>
        <servlet-class>servlet.InitParamTestServlet</servlet-class>

        <init-param>
            <param-name>account</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>root</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>initparamtest-servlet</servlet-name>
        <url-pattern>/servlet.InitParamTestServlet</url-pattern>
    </servlet-mapping>

    <!-- LocalTestServlet -->
    <servlet>
        <servlet-name>localtest-servlet</servlet-name>
        <servlet-class>servlet.LocalTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>localtest-servlet</servlet-name>
        <url-pattern>/servlet.LocalTestServlet</url-pattern>
    </servlet-mapping>

    <!-- LocalTestServlet -->
    <servlet>
        <servlet-name>membertest-servlet</servlet-name>
        <servlet-class>servlet.MemberTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>membertest-servlet</servlet-name>
        <url-pattern>/servlet.MemberTestServlet</url-pattern>
    </servlet-mapping>

    <!-- ContextTsetServlet -->
    <servlet>
        <servlet-name>contexttest-servlet</servlet-name>
        <servlet-class>servlet.ContextTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>contexttest-servlet</servlet-name>
        <url-pattern>/servlet.ContextTestServlet</url-pattern>
    </servlet-mapping>

    <!-- ShareObjectServlet1 -->
    <servlet>
        <servlet-name>shareobject-servlet1</servlet-name>
        <servlet-class>servlet.ShareObjectServlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>shareobject-servlet1</servlet-name>
        <url-pattern>/servlet.ShareObjectServlet1</url-pattern>
    </servlet-mapping>

    <!-- ShareObjectServlet2 -->
    <servlet>
        <servlet-name>shareobject-servlet2</servlet-name>
        <servlet-class>servlet.ShareObjectServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>shareobject-servlet2</servlet-name>
        <url-pattern>/servlet.ShareObjectServlet2</url-pattern>
    </servlet-mapping>

    <!-- QueryServletGet -->
    <servlet>
        <servlet-name>query-servletget</servlet-name>
        <servlet-class>servlet.QueryServletGet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>query-servletget</servlet-name>
        <url-pattern>/servlet.QueryServletGet</url-pattern>
    </servlet-mapping>

    <!-- MemberJoinServlet -->
    <servlet>
        <servlet-name>memberjoin-servlet</servlet-name>
        <servlet-class>servlet.MemberJoinServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>memberjoin-servlet</servlet-name>
        <url-pattern>/servlet.MemberJoinServlet</url-pattern>
    </servlet-mapping>

    <!-- FileUploadInfoServlet -->
    <servlet>
        <servlet-name>fileuploadinfo-servlet</servlet-name>
        <servlet-class>servlet.FileUploadInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fileuploadinfo-servlet</servlet-name>
        <url-pattern>/servlet.FileUploadInfoServlet</url-pattern>
    </servlet-mapping>
    <!-- -->
</web-app>
